.img1{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 2%;
}

.img2{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 2%;
}

.img3{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 2%;
}

.img4{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 2%;
}

.img5{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 2%;
}

.img6{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 2%;
}

