@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@500&display=swap');

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 50;
    text-align: center;
    margin: 5%;
    margin-left: 20px;
    margin-right: 20px;

}

